.p-tieredmenu {
    width: auto;
    min-width: auto;
}

.p-autocomplete-empty-message {
    padding: 0rem 1rem;
}

.field {
    margin-bottom: 0.5rem;
}

.p-paginator {
    border-width: 0rem;
}

.p-dataview-header {
    margin-bottom: 0rem;
    border-width: 0;
    padding: 0.75rem 0rem;
}

.p-dataview-emptymessage {
    display: none;
}

.p-fieldset-legend-text {
    font-size: large;
}

.p-panel {
    border-width: 0;
}

.p-panel-content {
    padding-bottom: 0;
}

.layout-main .card {
    padding: 1rem;
}

.p-panel-title {
    font-size: 1.5rem;
}

.field > label {
    font-size: 1.125rem;
}

.field {
    margin-bottom: 0.5rem !important;
}
