.p-tieredmenu {
    width: auto;
    min-width: auto;
}

.p-autocomplete-empty-message {
    padding: 0rem 1rem;
}

.field {
    margin-bottom: 0.5rem;
}

.p-paginator {
    border-width: 0rem;
}

.p-dataview-header {
    margin-bottom: 1rem;
    border-width: 0;
}

.p-dataview-emptymessage {
    display: none;
}

.p-fieldset-legend-text {
    font-size: large;
}
