.bronze {
    background: linear-gradient(30deg, brown, coral);
    // -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    font-size: 1.5rem;
}

.silver {
    background: linear-gradient(30deg, silver, snow);
    // -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    font-size: 1.5rem;
}

.gold {
    background: linear-gradient(30deg, gold, khaki);
    // -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    font-size: 1.5rem;
}

.diamond {
    background: linear-gradient(30deg, cyan, white);
    // -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    font-size: 1.5rem;
}
